@import "common/bootstrap.min.css";
@import "common/bootstrap-material-design.css";
@import "common/ripples.min.css";

body {
    background-color: white;
}

#app .btn.btn-primary {
    background-color: #34495e;
}

.bloc {
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   margin-top: 15px;
   padding: 15px 20px;
}
